<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="~/css/styles.css">
  <title>Deckams Admin</title>
</head>
<body>
  <header>
    <nav>  
      <div>
      <img class="logo" src="~/img/site/logo.png" alt="Logo">
      </div>
      <div>
        <p class="rubrik">Administration</p>
      </div>
        <ul>
          <li>
            <a asp-controller="Product" asp-action="">PRODUKTER</a>
            <a asp-controller="" asp-action="">ANVÄNDARE</a>
            <a asp-controller="Misc" asp-action="aboutus">INFO</a>
          </li>
        </ul>
    </nav>
  </header>
  <main>
    @RenderBody()
  </main>
  
</body>
</html>