<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="~/css/styles.css">
  <title>Deckams Admin</title>
</head>
<body>
  <header>
    <nav>
      <table border="0">
        <tr>
          <td colspan="3">
            <div>
              <img class="logo" src="~/img/site/logo.png" alt="Logo">
            </div>
          </td>
          <td class="infoTd">

          </td>
        </tr>
        <tr>
          <td colspan="4">
            <div>
              <p class="rubrik">Administration</p>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <table border="0">
              <tr>
                <td>
                  <div class="form-control divSpaceBelow divMenu">
                    <a asp-controller="Products" asp-action="Index">PRODUKTER</a> 
                  </div>
                </td>
                <td>
                  <div class="form-control divSpaceBelow divMenu">
                    <a asp-route="GetTheUsers">ANVÄNDARE</a>
                  </div>
                </td>
                <td>
                  <div class="form-control divSpaceBelow divMenu">
                    <a asp-controller="Misc" asp-action="Index">INFO</a>
                  </div> 
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>  

    </nav>
  </header>
  <main>
    @RenderBody()
  </main>
  
</body>
</html>