<section>
  <table border="0">
    <tr>
      <td class="tdSpaceToRight">
        <div class="divSpaceBelow divMenu"><a asp-route="GetAboutUs">UPPDATERA OM OSS</a></div>
      </td>
      <td class="tdSpaceToRight">
        <div class="divSpaceBelow divMenu"><a asp-route="GetContactInfo">UPPDATERA KONTAKTINFO</a></div>
      </td>
      <td class="tdSpaceToRight">
        <div class="divSpaceBelow divMenu"><a href="">UPPDATERA VILLKOR</a></div>
      </td>
    </tr>
  </table>  
</section>