<section>
  <table>
    <tr>
      <td class="tdSpaceToRight">
        <div class="divSpaceBelow">
          FÖRBERETT MEN EJ IMPLEMENTERAT
        </div> 
      </td>
    </tr>
  </table>
 
  
</section>