<section>
  <table>
    <tr>
      <td class="tdSpaceToRight">
        <div class="divSpaceBelow divMenu"><a asp-route="CreateProduct">LÄGG TILL PRODUKT</a></div>
      </td>
      <td class="tdSpaceToRight">
        <div class="divSpaceBelow divMenu"><a href="">LISTA ALLA KATEGORIER</a></div>
      </td>
      <td class="tdSpaceToRight">
        <div class="divSpaceBelow divMenu"><a href="">LÄGG TILL TILLBEHÖR</a></div>
      </td>
      <td class="tdSpaceToRight">
        <div class="divSpaceBelow divMenu"><a href="">LISTA ALLA TILLBEHÖR</a></div>
      </td>
      <td class="tdSpaceToRight">
        <div class="divSpaceBelow divMenu"><a href="">LISTA ALLA KATEGORIER</a></div>
      </td>
    </tr>
  </table>
</section>